.playground {
  margin: 32px 0 64px 0;
}

.form-section {
  margin-bottom: 32px;
}

.form-example {
  margin-top: 16px;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
}

.form-centered {
  text-align: center;
}

.form-button {
  margin-top: 16px;
  z-index: 0;
}