.playground {
  display: block;
  padding: 32px 0; }
  .playground-options {
    margin-bottom: 24px; }
  .playground pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; }
  .playground .form-section {
    margin-bottom: 32px; }
  .playground .form-title {
    margin: 0 0 16px; }
  .playground .form-example .rsg-github {
    max-width: 100%; }
  @media screen and (min-width: 64em) {
    .playground .form-example {
      margin-left: 32px; } }
  .playground .form-message {
    padding: 16px;
    background-color: #fff59d; }
  .playground .form-example, .playground .form-message {
    border-radius: 4px; }
  .playground .form-centered {
    text-align: center; }
  .playground .form-button {
    margin-top: 16px;
    z-index: 0; }
